<!--
@Author: Matthew Hale <matthale>
@Date:   2017-12-11T09:59:08-06:00
@Email:  mlhale@unomaha.edu
@Filename: page-footer.hbs
@Last modified by:   matthale
@Last modified time: 2018-02-27T16:19:33-06:00
@Copyright: Copyright (C) 2018 Matthew L. Hale
-->



<footer>
	<div class="copyright">
		<div class="col-md-4 col-md-offset-4">
			Surge disasters © 2017, All Rights Reserved.
		</div>
	</div>
</footer>
