<!--
@Author: Matthew Hale <matthale>
@Date:   2017-12-11T09:59:08-06:00
@Email:  mlhale@unomaha.edu
@Filename: application.hbs
@Last modified by:   matthale
@Last modified time: 2018-02-27T16:31:55-06:00
@Copyright: Copyright (C) 2018 Matthew L. Hale
-->


<div class="container-fluid">
	<div class="row">
		{{nav-bar}}
	</div>
	<div class="row">
		{{outlet}}
	</div>
</div>
