<div class="container">
	<div class="row adminButtons">
		<div class="col-md-12">
			<button type="button" class="btn btn-primary">Add mentors</button>
			<button type="button" class="btn btn-primary">Manage Students</button>
		</div>
	</div>
	<div class="row">
		<div class="col-md-6">
			mentors
		</div>
		<div class="col-md-6">
			students
		</div>		
	</div>
</div>